version: '3.8'
services:
  db:
    image: postgres:15
    container_name: postgres-spring
    environment:
      POSTGRES_DB: meubanco
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
