/* hover #CC3E00 */

.App {
  padding: 10px;
  /* background-color: #ffff; */
  color: #ff4e00;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-info {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
  gap: 5px;
}

.App-header input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 15px;
}

.App-header button {
  background-color: #ff4e00;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 15px;
  width: 100px;
}

.App-header button:hover {
  background-color: #cc3e00;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  gap: 20px;
}
